nav {
  display: flex;
  justify-content: space-around;
  background: red;
  padding: 10px 0;
  position: fixed;
  //   top: 0;
  //   right: 0;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in;

    li {
      a {
        color: rgba(255, 255, 255, 0.95);
        padding: 1rem 0.9rem;
        margin: 0.1rem;
        &:hover {
          color: white;
          text-shadow: 0 0 0.5rem white, 0 0 1rem white, 0 0 2rem white,
            0 0 3rem salmon, 0 0 3rem salmon;
          border-radius: 0.7rem;
        }
      }
    }
  }

  .menu-toggle {
    display: none;
  }
}

@media (max-width: 650px) {
  nav {
    justify-content: space-between;
    padding: 10px 2rem;
    ul {
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 20%;
      height: 90vh;
      background-color: red;
      border-radius: 0 0 0 20px;
      justify-content: space-evenly;
      flex-direction: column;
      margin-top: 3rem;
      transform: translateX(180%);
      transition: all 0.5s;

      &.slider {
        height: 90vh;
        opacity: 1;
        transform: translateX(0);
      }
    }
    .menu-toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;

      input {
        position: absolute;
        width: 30px;
        height: 30px;
        opacity: 0;
        cursor: pointer;
        z-index: 99;

        &:checked ~ span:nth-child(2) {
          transform: rotate(45deg) translate(4px, -2px);
        }
        &:checked ~ span:nth-child(4) {
          transform: rotate(-45deg) translate(4px, 2px);
        }
        &:checked ~ span:nth-child(3) {
          transform: scale(0);
          opacity: 0;
        }
      }

      span {
        display: block;
        width: 1.5rem;
        height: 0.2rem;
        border-radius: 0.5rem;
        margin: 3px;
        background-color: white;
        transition: all 0.5s;

        &:nth-child(2) {
          transform-origin: 0 0; // sumbu x y
        }
        &:nth-child(4) {
          transform-origin: 0 100%;
        }
      }
    }
  }
}
