nav {
  display: flex;
  justify-content: space-around;
  background: red;
  padding: 10px 0;
  position: fixed;
  //   top: 0;
  //   right: 0;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      a {
        color: white;
        padding: 0.5rem 0.9rem;
        margin: 0.1rem;
        &:hover {
          color: red;
          background: white;
          border-radius: 0.7rem;
        }
      }
    }
  }

  .menu-toggle {
    display: none;
  }
}

@media (max-width: 650px) {
  nav {
    ul {
      display: none;
    }
    .menu-toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      span {
        display: block;
        width: 1.5rem;
        height: 0.2rem;
        border-radius: 0.5rem;
        margin: 3px;
        background-color: white;
      }
    }
  }
}
